.top-corzina {
    height: 400px;
    background-image: url(img/fon-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-button-input {
    background: none;
    width: 290px;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    margin-top: 18px;
    font: inherit;
}

.product-pricenew {
    color: #050505;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-button-input:hover {
    background: #000;
    color: $color-text;
}

.form-button-input-botter:hover {
    background: #000;
    color: $color-text;
}

.title-corzina {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    padding-top: 127px;
    color: $color-text;
    font-style: normal;
    width: 400px;
}

input {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.product-price-cart {
    color: #050505;
    font-size: 24px;
}

.user-flex {
    gap: 44px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Montserrat;
    font-size: 14px;
}

.user-one {
    padding-left: 1px;
    border-bottom: 0.5px solid rgba(230, 214, 214, 0.8);
    border: none;
    background: rgb(247, 246, 246);
}

.user-two {
    padding-left: 1px;
    border-bottom: 0.5px solid rgba(230, 214, 214, 0.8);
    border: none;
    background: rgb(247, 246, 246);

}

.user-three {
    padding-left: 1px;
    border-bottom: 0.5px solid rgba(230, 214, 214, 0.8);
    border: none;
    background: rgb(247, 246, 246);
}

.my-input-number {
    width: 71px;
    height: 51px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    background: rgb(247, 246, 246);
    text-align: center;
}

.text-color {
    color: rgb(136, 136, 136);
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
}

.form-padding {
    margin-bottom: 148px;
}

.form-button-input-botter {
    background: none;
    width: 200px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    margin-top: 18px;
    font: inherit;
}

.user-top {
    margin-top: 34px;
    margin-bottom: 64px;
    margin-left: 28px;
    margin-right: 64px;
}

.title-free {
    padding-top: 59px;
    padding-bottom: 32px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product-top {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
}

.cart-mar-top {
    margin-top: 34px;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__link-box {
        gap: 30px;
    }


    &__center {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between
    }

    &__borden-two {
        padding-bottom: 148px;
        padding-left: 44px;
        padding-right: 44px;
    }

    &__product-cor {
        font-size: 17px;
        font-style: normal;
        font-weight: 288px;
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        border: none;
        border-bottom: 1px solid rgb(202, 205, 216);
        font: inherit;
        color: rgb(0, 0, 0);
        line-height: 17px;
        letter-spacing: 0px;
        background-color: rgb(247, 246, 246);
    }


    &__link {
        line-height: 24px;
        color: grey;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        text-decoration-line: underline;
    }

    &__link-cor {
        line-height: 24px;
        color: #000000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-decoration-line: underline;
        margin-right: 30px;
    }

    &__left-decoration {
        display: flex;
        justify-content: center;
        margin-top: 42px;
        font-size: 24px;
        line-height: 29px;

    }


    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__item {
        border-top: 0.5px solid rgb(202, 205, 216);
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__form {
        background: #f7f6f6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;

    }

    &__content {
        grid-column: span 8;
    }

    &__left_2 {
        display: flex;
        justify-content: center;
        padding-top: 42px;
        width: 378px;
        height: 36px;
        font-family: Montserrat;
        font-size: 24px;
    }

    &__form-nav {
        gap: 7px;
        font-size: 14px;
    }
}